@tailwind base;
@tailwind components;
@tailwind utilities;

.g1{
  background: linear-gradient(136deg, #5ECAF3 0%, #00619D 112.53%);
}
.bx{
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.g2:hover{
  background: linear-gradient(136deg, #5ECAF3 0%, #00619D 112.53%);
  box-shadow: 0px 28px 81px 0px rgba(30, 130, 184, 0.46);
  color: white;
}
@font-face {
  font-family:Montserrat ;
  src: url("../../public/font/Montserrat-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family:Montserrat ;
  src: url("../../public/font/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family:Montserrat ;
  src: url("/font/Montserrat-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family:Montserrat ;
  src: url("../../public/font/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family:Montserrat ;
  src: url("../../public/font/Montserrat-Bold.ttf");
  font-weight: 700;
}

body, html {
  font-family:Montserrat ;
}



